.rating {
  &-table {
    border-collapse: collapse;

    &__head {
      background: var(--gray-5);
      border-radius: 12px;
      height: 36px;

      display: grid;
      grid-template-columns: 80px repeat(5, 1fr);

      align-items: center;

      & div {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: var(--gray-60);
        padding: 0 16px;
        text-align: start;
      }
    }

    &__body {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }

    &__row {
      border: 1px solid var(--gray-10);
      height: 60px;
      border-radius: 12px;

      display: grid;
      grid-template-columns: 80px repeat(5, 1fr);

      div {
        padding: 0 16px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--black);
        display: flex;
        align-items: center;
      }
    }

    &__character {
      column-gap: 12px;

      & img {
        border-radius: 100px;
        width: 36px;
        height: 36px;
      }
    }

    &__status {
      &.online {
        color: var(--green);
      }
    }
  }
}