.bet-item {
  border-radius: 12px;
  padding: 16px;
  height: 80px;

  background: rgba(255, 255, 255, 0.02);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 16px;

  &__game-icon {
    width: 43px;
    height: 42px;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    &_dota {
      background-image: url("../../../../public/dota.png");
    }
  }

  &__user-info {
    display: grid;

    & .user-info {
      &__name {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--white);
      }

      &__game-date {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--white);
        opacity: .5;
      }
    }
  }

  &__game-bet {
    display: grid;

    .game-bet {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      text-align: right;

      &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--white);
        opacity: .5;
      }

      &__bet, &__result {
        display: grid;
        grid-template-columns: 5fr 1fr;
        column-gap: 8px;

        & > span:first-child {
          text-align: right;
        }
      }

      &__bet {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: var(--white);
      }

      &__result {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;

        color: var(--green);

        & .negative {
          color: var(--red);
        }
      }
    }
  }
}
